*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'El Messiri', sans-serif;
}

body{
    background-color: #000;
    background-image: url(https://res.cloudinary.com/dsoa7ssat/image/upload/v1665675349/Panes/fondo-panes-2_rzlkml.jpg);
    max-width: 100%;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: saturate(0.9);
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #ffffff63;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff63;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #695e5e;  /* creates padding around scroll thumb */
  }

  .conteiner-Datos p::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .conteiner-Datos p::-webkit-scrollbar-track {
    background: #ffffff63;        /* color of the tracking area */
  }
  
  .conteiner-Datos p::-webkit-scrollbar-thumb {
    background-color: #ffffff63;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid #695e5e;  /* creates padding around scroll thumb */
  }

.ContenedorNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff63;

}

.ContenedorLogo img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    filter: brightness(0);
    

}

.ContenedorLogo img:hover{
    filter: drop-shadow(3px 7px 7px black);
    transition-duration: 0.5s;
}

.NavegacionPage{
    padding: 10px;
}


.MenuNavegable{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
   
}
.MenuNavegable2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
   
}

.MenuNavegable a{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    width: 250px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.MenuNavegable2 a{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    cursor: pointer;
    width: 250px;
    text-decoration: none;
    border: 1px solid;
    color: #000;
    background-color: #f3a446;
    border-radius: 5px;
    margin: 10px;
}

.MenuNavegable a:hover{
    color: #f3a446;
    transition-duration: 0.4s;
    border-bottom: 1px solid #f3a446;
}
.MenuNavegable2 a:hover{
    color: #f3a446;
    transition-duration: 0.4s;
    background-color: #1D1D1D;
    border-bottom: 1px solid #f3a446;
}

.carta:hover{
    filter:contrast(0.8);
    transition-duration: 0.4s;
    cursor: pointer;
}

.MenuNavegableIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.MenuNavegableIcons li{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.contenedorGrid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    justify-items: center;
	gap: 40px;
    padding: 40px 100px 40px 100px;
}


.carta{
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 220px;
    height: 360px;
    background-color: #1D1D1D;
    margin: 10px;
    border-radius: 15px;
   
}

.imagenCarta img{
  margin-top: 20px;
  width: 150px;
  height: 140px;
  border-radius: 15px;
  border: solid 2px #f3a446;
  background-color: #ffa5001c;
}

.NombreCarta{
   font-family:'El Messiri', sans-serif;
   color: #fff;
}

.PrecioCarta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.PrecioCarta li{
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.botonCarta{
    margin: 7px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: #f3a446;
    border: 1px solid #f3a446;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
    transition: .3 ease all;
    overflow: hidden;
}

.boton2 a{
   text-decoration: none;
   color: #000;
}
.boton1{
    padding-left: 20px;
    padding-right: 20px;
}


.botonCarta.boton1:hover {
    background-color: #1D1D1D; 
    color: #f3a446;
   border: 1px solid #f3a446;
}

.botonCarta.boton2:hover {
    background-color: #fff; 
    border: 1px solid #A06235;
    color: #A06235;
}

.contenedorContador{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contador{
    display: flex;
}

.Item-Detail-Conteiner{
padding: 20px;
margin: 30px 10px;
display: flex;
justify-content: space-between;
color: #fff;
background: #1d1d1df0;
border-radius: 10px;
border: 2px white solid;
width: auto;
height: 100vh;
}

.conteiner-Detail{
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
}

.conteiner-Detail img{
width: 400px;
height: 500px;
border-radius: 15px;

}

.conteiner-Detail h1{
    margin: 20px;
}


.conteiner-Datos{
padding: 20px;
width: 600px;

display: flex;
flex-direction: column;
}

.conteiner-Datos p{
   font-size: 25px;
   padding: 5px;
   margin-top: 50px;
   margin-bottom: 10px;
   overflow-y: scroll;
}

.HomeConteiner{
    background-image: url(https://res.cloudinary.com/dsoa7ssat/image/upload/v1665675349/Panes/fondo-panes-2_rzlkml.jpg);
    max-width: 100%;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: saturate(0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.HomeConteiner .Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    width: 560px;
    height: 300px;
    border-radius: 100px;
    position: relative;
    top: -50px;
    color: #423939;
    background: #ffffff63;
}

.Home img {
    width: 150px;
    height: 150px;
    filter: brightness(0);
}

.HomeConteiner div h1{
    color: #000;
 }
.HomeConteiner div h2{
   text-align: center;
}

.exploradorHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background: #ffffff63;
}

.botonHome{
    width: 55px;
    height: 60px;
    border: 1px solid #A06235;
    color: #000;
    background: #f3a446;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.carrito-contenedor{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carrito-detalle{
    width: 500px;
    height: 250px;
    background-color: #A06235;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.carrito-img{
    width: 90px;
    height: 90px;
}

.carrito-contenedor-precio{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-contenedor-precio p{
    margin: 0px 7px 0px 7px;
    background-color: #f3a446;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.FooterPage{
    position: relative;
    background-color: #fff;
    color: #f3a446;
}

.FooterPage h2{
    text-align: center;
}